@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
:root {
    --color: #03FF84;
}

body{
    font-family: sans-serif;
    max-width: 992px;
    margin: 0 auto;
    font-size: 1.4em;
    margin-top: 2em;
    margin-bottom: 8rem;
}

p{
    line-height: 1.4;
}


/* +++++++++++++++++++++++++++++++ */
/* #1. Drop Cap Styling */
/* +++++++++++++++++++++++++++++++ */

.dropcap p:first-child::first-letter{
    font-family: serif;
    /* font-family: 'Cookie', cursive; */
    float: left;
    font-size: 300%;
    color: var(--color);
    margin: 10px 15px -13px 0;

    border: 5px solid;
    padding: 0.2rem 1rem;
    line-height: 1;
    border-radius: 5px;
}