:root{
    --pm-color: blue;
    --btn-color: white;
}

*{
    margin: 0;padding: 0;
}

body{
    font-family: sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #f2f2f2;
    padding: 1rem;
    overflow: hidden;
}

/* ---------------------------------------------------------- */

form{
    background: #fff;
    max-width: 20rem;
    width: 100%;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.form-header{
    text-align: center;
}

.form-title{
    margin-bottom: 0.5rem;
}

.form-description{
    margin-bottom: 2rem;
    color: #666;
    font-weight: 300;
}

.social-media-register{
    border-bottom: 1px solid #ddd;
    padding-bottom: 2.5rem;

    position: relative;
}

.social-media-register .fab{
    font-size: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    color: white;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    padding: 0.5rem;
}

.fa-facebook-f{background: #507CC0;}
.fa-twitter{background: #64CCF1;}
.fa-google{background: #DF492F;}

.or{
    position: absolute;
    bottom: -15px;
    left: 45%;

    width: 20px;
    height: 20px;
    padding: 0.3rem;
    border-radius: 100%;
    border: 1px solid #ddd;
    background: #fff;
    color: var(--pm-color);
}

.form-body{
    margin-top: 2.5rem;
}

.form-group{
    position: relative;
    height: 3rem;
    margin-bottom: 2rem;
}

.form-input{
    width: 90%;
    height: 100%;
    border: 1px solid #bbb;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    outline: none;
    padding: 0 1rem;
}

.form-input:hover,
.form-input:focus{
    border-color: var(--pm-color);
}

label{
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: white;
    padding: 0 0.5rem;
    transition: top 200ms ease-in, font-size 200ms ease-in;
}

.form-input:focus ~ label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ label{
    top: -0.5rem;
    font-size: 0.8rem;
}

button{
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    background: var(--pm-color);
    color: var(--btn-color);
    border-radius: 0.5rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.log-in{
    text-align: center;
    margin-top: 1rem;
}

.log-in a{
    color: #000;
    font-size: 0.9rem;
}