@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
:root{
    --color-pm: blue;
    --color-sc: #e3f2fd;
    --rating-color: #FDCC0F;

    --border-radius: 5px;
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100vh;
}
body{
    font-family: sans-serif;
    display: grid;
    place-items: center;
    font-size: 0.9rem;
    background: #e3f2fd;
    font-family: 'Noto Sans', sans-serif;
}

/* Table  */

table{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: left;
    background: white;

    border-collapse: collapse;
    
    border-radius:var(--border-radius);
}

/* Table Header */

th{
    background: var(--color-pm);
    padding: .75rem 2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 900;
}

td{
    padding: 1rem 2rem;
}

tr:nth-child(even){
    background: var(--color-sc);
}

[class*="fa-"]{
    color: var(--rating-color);
}



th:first-child{
    border-radius:var(--border-radius) 0 0 0;
}
th:last-child{
    border-radius:0 var(--border-radius) 0 0;
}