@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;700&display=swap');

:root{
    --grey-color:#696a70;
    --marked-color: #64dd17;
}

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sora', sans-serif;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    background: #fafafa;
    padding: 1rem;
}

img{
    max-width: 80px;
    width: 100%;
    border-radius: 8px;
    align-self: center;
}
h1{
    margin: 4rem 0;
    text-align: center;
}


/* ------------------------------------------------------ */


#levelOne{
    /* background-color: red; */
}

#levelTwo{
    /* background-color: peru; */
}

#levelThree{
    /* background-color: purple; */
}


.lesson{
    /* cada linea */
    /* background-color: #64dd17; */
}

/* ------------------------------------------------------ */



article.lesson{
    /* background-color: bisque; */
    background: #fff;

    padding: 1.8rem;
    margin: 1.4rem 0;
    border-radius: 20px;
    border: 1px solid rgba(5, 6, 15, 0.08);

    display: grid;
    grid-template-columns: 80px 1fr 20px;
    gap: 1rem;
}

.lesson-body p{
    /* letras minutos y ejercicios */
    margin-top: 1rem;
    color: var(--grey-color);
    font-size: 90%;
}

.status{
    /* background-color: red; */
    /* check mas grande y centrado */
    font-size: 20px;
    align-self: center;
}

.marked{
    /* check en color verde */
    color: var(--marked-color);
}

button
{
    pointer-events: none;
    border: none;
    outline: none;
    color: var(--grey-color);
    text-transform: uppercase;
    padding: 0.7rem 1rem;
    background: #fff;
    font-weight: bold;
    border-radius: 28px;
    border: 1px solid rgba(5, 6, 15, 0.08);
}

/* APLICA CON EL JAVASCRIPT */

/* Le da efecto de cambio de color cuando se seleccione y se arrastra */
.ghostClass{
    opacity: 0.3;
}

.chosenClass{
    background: #E1F5FE!important;
}

/* --------------------- RESPONSIVE --------------------------------- */

 /* <= 768px */
@media only screen and (max-width:768px){
    h1{
        margin: 2rem 0;
    }

    article.lesson{
        padding: 1rem;
        grid-template-columns: 60px 1fr 20px;
    }

    h2{
        font-size: 18px;
    }
}








