body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    background: #682ccbe0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #682ccbe0, #3264f5e6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #682ccbe0, #3264f5e6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main{
    width: 1280px;
    padding: 8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

main section{
    flex: 0 1 calc(50% - 5rem);
    align-self: center;
    margin-bottom: 2em;
}

h1{
    font-size:3rem;
}
p{
    font-size:20px;
    line-height:1.5em;
}
img{
    width: 400px;
}

button{
    font-size:20px;
    background: white;
    outline: none;
    border: none;
    padding: 0.8em 1.5em;
    color: #682ccbe0;
}


@media screen and (max-width: 1080px) {
    img{
        width: 300px;
    }
    main{
        padding: 10em 2em;
    }
}

@media screen and (max-width: 690px) {
    main section{
        flex: 0 1 100%;
        align-self: center;
        text-align: center;
    }
}

/* ------------------------------------------------------------------ */

#top-divider{
    position: absolute;
    top:0;
    transform: rotate(180deg);
}

#bottom-divider{
    position: absolute;
    bottom:0;
    /* transform: rotate(180deg); */
    margin-bottom: -0.1rem;
}

polygon,
path{
    fill:white;
}


